/* Making The Site Responsive */

/* for tablets */
@media only screen and (max-width: 768px) {
    /* Navbar Section Start */
    header .navbar .logo {
        font-size: 1.5rem;
    }

    header .navbar .nav-items {
        display: none;
    }

    header .contact-us-btn {
        display: none;
    }

    header .hamburger-menu-icon {
        display: flex;
    }

    /* Navbar Section End */

    /* Hero Section Start */
    .hero .container {
        flex-direction: column;
    }

    .hero .left-container,
    .hero .right-container {
        width: 100%;
    }

    .hero .left-container {
        text-align: center;
        align-items: center;
    }

    .hero .right-container {
        padding: 2rem;
    }
    /* Hero Section End */

    /* Mini Hero Section Start */
    .mini-hero .container {
        padding: 2rem;
    }

    .mini-hero .inner-container {
        padding: 20px 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .mini-hero .company {
        font-size: 1.3rem;
    }

    .mini-hero .company img {
        height: 1.8rem;
    }

    /* Mini Hero Section End */

    /* Our Advantages Section Start */
    .our-advantages > .container {
        padding: 2rem 3rem;
    }

    .our-advantages .advantage-cards {
        grid-template-columns: 1fr;
    }

    /* Our Advantages Section End */
}

/* for laptops */
@media only screen and (max-width: 1151px) {
    .container {
        padding: 0 1rem;
    }
}
