/* Importing Fonts From Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Resetting CSS Default Stylings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Universal Stylings */

:root {
    /* colors */
    --primary-color: #6468ec;
    --primary-color-hover: #5055f3;
    --text-color: #151515;
    --primary-bg: #fff;
    --secondary-bg: #ececec;

    /* sizes */
    --tablet-size: 768px;
    --laptop-size: 1150px;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Section Start */

header .navbar {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar .logo {
    font-size: 2rem;
    font-weight: 700;
}
header .navbar .logo a {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .navbar .logo img {
    height: 1.7rem;
}

header .navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: 500;
    color: var(--text-color);
}

header .navbar .nav-items .nav-item {
    padding: 5px 10px;
    transition: color 0.1s ease-in;
}

header .navbar .nav-items .nav-item:hover {
    color: var(--primary-color-hover);
}

header .contact-us-btn {
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 22px;
    border-radius: 7px;
    transition: background-color 0.1s ease-in;
}

header .contact-us-btn:hover {
    background-color: var(--primary-color-hover);
}

header .hamburger-menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
}

/* Navbar Section End */

/* Hero Section Start */

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 575px;
}

.hero .left-container {
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.hero .left-container p:first-child {
    color: var(--primary-color-hover);
    font-weight: 600;
    font-size: 1rem;
}

.hero .left-container h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.hero .left-container p:nth-child(3) {
    color: var(--text-color);
}

.hero .left-container .hero-btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero .left-container .hero-btn-group .hero-btn {
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 22px;
    border-radius: 7px;
    transition: background-color 0.1s ease-in;
}

.hero .left-container .hero-btn-group .hero-btn:hover {
    background-color: var(--primary-color-hover);
}

.hero .left-container .hero-btn-group .hero-btn-2 {
    background-color: var(--text-color);
}

.hero .left-container .hero-btn-group .hero-btn-2:hover {
    background-color: #323232;
}

.hero .right-container {
    width: 45%;
    padding: 1rem 0px 1rem 2rem;
}

.hero .right-container img {
    width: 100%;
    border-radius: 20px;
}

/* Hero Section End */

/* Mini Hero Section Start */

.mini-hero .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mini-hero .container > h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
}

.mini-hero .inner-container {
    padding: 30px 40px;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    background-color: var(--secondary-bg);
    border-radius: 12px;
}

.mini-hero .company {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 10px;
}

.mini-hero .company img {
    height: 2rem;
}

/* Mini Hero Section End */

