/* Importing Fonts From Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Resetting CSS Default Stylings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Universal Stylings */

:root {
    /* colors */
    --primary-color: #6468ec;
    --primary-color-hover: #5055f3;
    --text-color: #151515;

    /* Background Colors */
    --primary-bg: #fff;
    --secondary-bg: #ececec;

    /* Card Colors */
    --card-color-1: #3f7ad6;
    --card-color-2: #f84874;
    --card-color-3: #f7ab51;
    --card-color-4: #3faeb0;
    --card-color-5: #578a45;
    --card-color-6: #5a5588;

    /* sizes */
    --tablet-size: 768px;
    --laptop-size: 1150px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Section Start */

header .navbar {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar .logo,
footer .logo {
    font-size: 2rem;
    font-weight: 700;
}
header .navbar .logo a {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .navbar .logo img,
footer .logo img {
    height: 1.7rem;
}

header .navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: 500;
    color: var(--text-color);
}

header .navbar .nav-items .nav-item {
    padding: 5px 10px;
    transition: color 0.1s ease-in;
}

header .navbar .nav-items .nav-item:hover {
    color: var(--primary-color-hover);
}

header .contact-us-btn {
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 22px;
    border-radius: 7px;
    transition: background-color 0.1s ease-in;
}

header .contact-us-btn:hover {
    background-color: var(--primary-color-hover);
}

header .hamburger-menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
}

/* Navbar Section End */

/* Hero Section Start */

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 575px;
}

.hero .left-container {
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.hero .left-container p:first-child {
    color: var(--primary-color-hover);
    font-weight: 600;
    font-size: 1rem;
}

.hero .left-container h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.hero .left-container p:nth-child(3) {
    color: var(--text-color);
}

.hero .left-container .hero-btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero .left-container .hero-btn-group .hero-btn {
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 22px;
    border-radius: 7px;
    transition: background-color 0.1s ease-in;
}

.hero .left-container .hero-btn-group .hero-btn:hover {
    background-color: var(--primary-color-hover);
}

.hero .left-container .hero-btn-group .hero-btn-2 {
    background-color: var(--text-color);
}

.hero .left-container .hero-btn-group .hero-btn-2:hover {
    background-color: #323232;
}

.hero .right-container {
    width: 45%;
    padding: 1rem 0px 1rem 2rem;
}

.hero .right-container img {
    width: 100%;
    border-radius: 20px;
}

/* Hero Section End */

/* Mini Hero Section Start */

.mini-hero .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mini-hero .container > h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
}

.mini-hero .inner-container {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    background-color: var(--secondary-bg);
    border-radius: 12px;
}

.mini-hero .company {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 10px;
}

.mini-hero .company img {
    height: 2rem;
}

/* Mini Hero Section End */

/* Our Advantages Section Start */

.services {
    background-color: var(--secondary-bg);
    padding: 2rem 0;
}

.services > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.services > .container > h2 {
    font-size: 2.2rem;
}

.services > .container > p {
    max-width: 53rem;
}

.services .advantage-cards {
    max-width: 53rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services .advantage-card {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.2rem;
}

.services .advantage-card-1 {
    background-color: var(--card-color-1);
}

.services .advantage-card-2 {
    background-color: var(--card-color-2);
}

.services .advantage-card-3 {
    background-color: var(--card-color-3);
}

.services .advantage-card-4 {
    background-color: var(--card-color-4);
}

.services .advantage-card-5 {
    background-color: var(--card-color-5);
}

.services .advantage-card-6 {
    background-color: var(--card-color-6);
}

.services .advantage-card .card-icon {
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 1.2rem;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.services .advantage-card img {
    height: 100%;
}
/* Our Advantages Section End */

/* Testimonials Section Start */

.testimonials > .container {
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.testimonials > .container h2 {
    font-size: 2.2rem;
}

.testimonials .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.testimonials .cards .card {
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: 1px 1px 19px -7px rgb(0 0 0 / 30%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in;
}

.testimonials .cards .card:hover {
    transform: scale(1.08);
    border-color: var(--primary-color);
    box-shadow: 0px 8px 19px -7px var(--primary-color);
}

.testimonials .cards .card img {
    height: 6rem;
}

.testimonials .cards .card h3 {
    color: var(--primary-color-hover);
}
/* Testimonials Section End */

/* Newsletter Section Start */

.newsletter {
    padding: 1.2rem 0;
}

.newsletter .container {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter .left-container {
    width: 50%;
}

.newsletter .left-container .image-container {
    width: 100%;
    max-height: 380px;
    height: fit-content;
    overflow: hidden;
}

.newsletter .left-container img {
    width: 100%;
}

.newsletter .right-container {
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    padding: 3rem;
}

.newsletter .right-container h2 {
    font-size: 2.5rem;
    color: var(--primary-color-hover);
}

.newsletter .right-container form {
    display: flex;
    gap: 1rem;
}

.newsletter .right-container form * {
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    border-radius: 5px;
}

.newsletter .right-container form input {
    border: 1px solid #838383;
}

.newsletter .right-container form button {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}
.newsletter .right-container form button:hover {
    background-color: var(--primary-color-hover);
}

.newsletter .right-container p:last-child {
    font-size: 0.74rem;
}

.newsletter .right-container p:last-child a {
    color: var(--primary-color);
    text-decoration: underline;
}
/* Newsletter Section End */

/* Footer Section Start */

footer .container {
    display: flex;
    flex-direction: column;
}

footer .footer-top {
    padding: 2.5rem 0;
    display: flex;
}

footer .footer-top .footer-header {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .footer-top .footer-header h3 {
    color: #616161;
}

footer .footer-top .footer-header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
footer .footer-top .footer-links {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .footer-top .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .footer-top .footer-links .products,
footer .footer-top .footer-links .company,
footer .footer-top .footer-links .support,
footer .footer-top .footer-links .legal {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

footer .footer-bottom {
    padding: 2rem 0;
    border-top: 1px solid #b8b8b8;
    text-align: center;
}
/* Footer Section End */

/* Footing Button Start */
aside .footing-btn {
    --btn-size: 60px;
    width: var(--btn-size);
    height: var(--btn-size);
    padding: 10px;
    border-radius: 100px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    position: fixed;
    bottom: 90px;
    right: 110px;
}

aside .footing-btn img {
    width: 100%;
}

aside .footing-btn:hover {
    background-color: var(--primary-color-hover);
}
/* Footing Button End */
